﻿@model MWMain.Models.ImageModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string analyzedImgSrc = @ViewBag.AltImageSource ? $"~/image/TrainingData/output/{Model.ImageName}" : $"~/image/{Model.ImageName}";

    <p>Value: @ViewBag.AltImageSource</p>
}

<h1>Image recognition - Analyze photo</h1>

<h4>ImageModel</h4>
<hr />
<div class="row" style="padding-left: 15px;padding-right: 15px;">
    <div style="width: 100%;">
        <img class="backuped_picture" src="@analyzedImgSrc" alt="Image not found" asp-append-version="true" style="max-width:100%;" />
        <form asp-action="Analyze" method="post" style="margin-top: 20px;">
            <input type="submit" class="btn btn-primary btn-block" value="Analyze" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
