﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home page</h1>
    <h2>You can play <a asp-area="" asp-controller="Home" asp-action="Snake">snake</a> !</h2>
    <h2>Access ImageDatabase: <a asp-area="" asp-controller="Image" asp-action="">imageDb</a></h2>
</div>
