﻿@{
    ViewData["Title"] = "Snake Page";
}
<h1>@ViewData["Title"]</h1>

<div style="width: 400px; height: 400px; margin: auto; margin-top: 100px; margin-bottom: 100px;">
    <canvas id="gc" width="400" height="400"></canvas>
</div>

@section Scripts {
    <script>
        window.onload = () => {
            canvas = document.getElementById("gc");
            context = canvas.getContext("2d");
            document.addEventListener("keydown", keyPush);
            setInterval(game, 1000 / 15);
        }
        // Player pos:
        px = py = 10;

        // Handlers
        trail = [];
        tail = 5;
        gridSize = tileCount = 20;

        // Point pos (apple x, apple y)
        ax = ay = 15;

        // Player valocity
        xv = yv = 0;

        game = () => {
            px += xv;
            py += yv;

            if (px < 0) px = tileCount - 1;
            if (px > tileCount - 1) px = 0;
            if (py < 0) py = tileCount - 1;
            if (py > tileCount - 1) py = 0;

            context.fillStyle = "black";
            context.fillRect(0, 0, canvas.width, canvas.height);

            context.fillStyle = "lime";
            for (let i = 0; i < trail.length; i++) {
                context.fillRect(trail[i].x * gridSize, trail[i].y * gridSize, gridSize - 2, gridSize - 2);
                if (trail[i].x == px && trail[i].y == py) tail = 5;
            }

            trail.forEach(element => {
                context.fillRect(element.x * gridSize, element.y * gridSize, gridSize - 2, gridSize - 2);
                if (element.x == px && element.y == py) tail = 5;
            });

            trail.push({ x: px, y: py });

            while (trail.length > tail) {
                trail.shift();
            }

            if (ax == px && ay == py) {
                tail++;
                ax = Math.floor(Math.random() * tileCount);
                ay = Math.floor(Math.random() * tileCount);
            }

            context.fillStyle = "red";
            context.fillRect(ax * gridSize, ay * gridSize, gridSize - 2, gridSize - 2);
        }

        keyPush = (e) => {
            switch (e.keyCode) {
                case 37:
                    if (xv === 0) {
                        xv = -1;
                        yv = 0;
                    }
                    break;
                case 38:
                    if (yv === 0) {
                        xv = 0;
                        yv = -1;
                    }
                    break;
                case 39:
                    if (xv === 0) {
                        xv = 1;
                        yv = 0;
                    }
                    break;
                case 40:
                    if (yv === 0) {
                        xv = 0;
                        yv = 1;
                    }
                    break;
            }
        }
    </script>
}